<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VIPCardClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <VIPCardClient.My.MySettings>
            <setting name="客户端ID" serializeAs="String">
                <value />
            </setting>
            <setting name="服务器IP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="端口号" serializeAs="String">
                <value>6100</value>
            </setting>
            <setting name="新版本号" serializeAs="String">
                <value />
            </setting>
            <setting name="更新路径" serializeAs="String">
                <value>http://www.wzhbtz.com/Update</value>
            </setting>
        </VIPCardClient.My.MySettings>
    </userSettings>
</configuration>
