<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VIPCard短信平台.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VIPCard短信平台.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings><add name="SMSVIPCardEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=222.52.150.40,9032;initial catalog=sqlbreakupclub;persist security info=True;user id=sqlook;password=SQ2010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <applicationSettings>
    <VIPCard短信平台.My.MySettings>
      <setting name="VIPCard短信平台_cn_entinfo_sdk1_WebService" serializeAs="String">
        <value>http://sdk1.entinfo.cn:8060/webservice.asmx</value>
      </setting>
    </VIPCard短信平台.My.MySettings>
  </applicationSettings>
  <userSettings>
    <VIPCard短信平台.My.MySettings>
      <setting name="用户名" serializeAs="String">
        <value>SDK-111-010-01824</value>
      </setting>
      <setting name="密码" serializeAs="String">
        <value>499553</value>
      </setting>
      <setting name="签名" serializeAs="String">
        <value>一卡通</value>
      </setting>
    </VIPCard短信平台.My.MySettings>
  </userSettings>
</configuration>
